@model IEnumerable<TestTaskApp.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}

<h2>Главная</h2>

<p>
    <a asp-action="Post">Добавить расписание</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SessionTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CinemaName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SessionTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CinemaName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SessionID">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.SessionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
